# Get average PM2.5 by satellite pass over window

**Terra flyover:** approx. 17-19Z -> 18Z and 19Z in DEQ discrete data

**Aqua flyover:** approx. 19-21Z -> 20Z and 21Z in DEQ discrete data

'date' column is in UTC and 'hour' column is in MDT/MST. Datetime is unreliable.

In [2]:
import pandas as pd

In [3]:
# open csv in dataframe, only keep useful columns
data = pd.read_csv('Montana_Air_Quality_Monitoring_Data.csv', 
                   usecols=['date', 'rawvalue', 'sitename', 'longitude', 'latitude'])

data.tail(3)

,date,latitude,rawvalue,sitename,longitude
332190,2022/12/31 22:00:00+00,47.594403,17.960,Thompson Falls,-115.323717
332191,2022/12/31 22:00:00+00,48.607406,-0.100,Cut Bank,-112.363842
332192,2022/12/31 22:00:00+00,46.243621,0.934,Hamilton,-114.158889

In [4]:
# ignore null values and negatives
data = data.loc[data['rawvalue'] >= 0]

In [18]:
# separate date column into date and time
def getTime(datetime):
    dt = str(datetime)
    time = int(dt.split(' ')[1].split(':')[0])
    return time

def getDate(datetime):
    dt = str(datetime)
    date = dt.split(' ')[0].replace('/', '-')
    return date
 
data['time'] = data.date.apply(getTime)
data['date'] = data.date.apply(getDate)

In [19]:
# get unique dates
unique_dates = data.date.unique()

In [20]:
# get unique ground stations
unique_sitenames = data.sitename.unique()

# get latitude and longitude by station in dictionary
lats = {}
longs = {}
for site in unique_sitenames:
    lat = data.loc[data.sitename == site, 'latitude'].iloc[0]
    long = data.loc[data.sitename == site, 'longitude'].iloc[0]
    lats[site] = lat
    longs[site] = long

In [21]:
# empty lists for holding averaged data
datetimes = []
sitenames = []
rawvalues = []

# filter by date and station
for date in unique_dates:
    open_sites = data.loc[data.date == date, 'sitename'].unique()
    for site in open_sites:
        subtable = data.loc[(data.date == date) & (data.sitename == site)]
        
        # average time window 1
        window1 = subtable.loc[(subtable.time == 18) | (subtable.time == 19)]
        rawvalues.append(window1.rawvalue.mean())
        sitenames.append(site)
        datetimes.append(date + 'T18:00')
        
        # average time window 2
        window2 = subtable.loc[(subtable.time == 20) | (subtable.time == 21)]
        rawvalues.append(window2.rawvalue.mean())
        sitenames.append(site)
        datetimes.append(date + 'T20:00')

In [48]:
# put data back into dataframe
output_data = pd.DataFrame({'datetime': datetimes,
                              'station': sitenames,
                              'pm25': rawvalues})

In [49]:
# add back coordinates
output_data['latitude'] = output_data.station.map(lats)
output_data['longitude'] = output_data.station.map(longs)

In [50]:
# some rawvalues are created due to observations being present at a station
# during only one of the time window
output_data = output_data.loc[output_data.pm25.isna()==False]

In [ ]:
output_data.index.name = 'num'

In [53]:
# output as a csv
output_data.to_csv('PM_averaged_v2.csv')